@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$black: #141414;
$yellow: #f4b55e;
$white: #f2f2f2;
$gray: #808080;
$purple: #905ef4;
$blue: #5ec2f4;
$red: #f4775e;

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Inter", sans-serif;
}
